@tailwind base;
@tailwind components;
@tailwind utilities;
@import './buttons.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ececec !important;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    /* зеленый фон */
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    transform: translateX(100px);
    /* начальное положение справа */
    z-index: 1000;
    /* Убедитесь, что уведомление будет над другими элементами */
}

.notification.show {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    /* конечное положение */
}

.container-center {
    margin: 20px;
    padding: 20px;
}

.content-white {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}

.rs-modal {
    margin-top: 70px !important;
}

.rs-modal-body {
    max-height: 380px !important;
}

.driverEditModal .rs-modal-body {
    padding-bottom: 0 !important;
}

.sidebar {
    background-color: #fff;
}