.orderSummary {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.orderSummary h2 {
  margin-bottom: 20px;
  color: #333;
}

.orderSummaryCards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px; /* Отступы между карточками */
}

.orderSummaryCard {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование содержимого */
}

.orderSummaryCard label {
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
}
